# ************************************************************
# ************************* REQUIRED *************************
# ************************************************************

# development | production
NODE_ENV=production    

# Secret used for signing JWT auth token
AUTH_SECRET="actual-auth-secret-here" 

# URL for connecting to the database. 
# Postgres: postgres://user:password@localhost:5432/ecommerce 
# SQLite: sqlite:./database.sqlite for SQLite
DATABASE_URL=sqlite:./database.sqlite

# URL of the frontend application, this origin will be allowed for CORS
# this is optional in dev but required in production.
# In development if not provided, it will fallback to http://localhost:5173
# In production if not provided, the frontend app will not be able to access the backend APIs
FRONTEND_URL=https://ecommerce-dupm.vercel.app


# ************************************************************
# ************************* OPTIONAL *************************
# ************************************************************

# Port used by app server. Defaults to 5000
PORT=5000

# Target (console | file | both | none) for app logs
APP_LOGS=console

# Target (console | file | both | none) for request logs
REQ_LOGS=console

# Target (console | file | both | none) for SQL logs
SQL_LOGS=console
