# VITE_ prefixed vars are accessible in browser devtools (bundler hardcodes it in client bundle). Example: import.meta.env.VITE_API_URL will be transformed to "http://localhost:3000" in dist,  and in dev mode, Vite injects a special runtime object for import.meta.env which will include it

# Non-prefixed vars are available only to Node (e.g. inside vite.config.js if you load them with loadEnv('', '', '')), not bundled into frontend.

# URL of backend server (optional in dev but required in prod environemt)
# In development: if not provided then localhost:5000 will be used.
# In production: it should be the URL of the backend deployment, for example:
VITE_BACKEND_URL=https://ecommerce-dupm.onrender.com
