# ------------------------------------------------------------------------------------
#                                         NOTE
# ------------------------------------------------------------------------------------
# 1.  Only the VITE_ prefixed vars will be made available to the frontend bundle.
# 
#     This is handled by Vite in following manner:
#     For dev:  Vite injects a special runtime object for `import.meta.env` which
#               includes all the VITE_ prefixed env variables. 
#     For prod: Vite replaces any occurence of "import.meta.env.VITE_<variable>" in
#               the source code with the corresponding value from the environment.
#
# 2.  Non-prefixed vars are not bundled to the frontend bundle. But you can load them
#     in a node program such as `vite.config.js` using the `loadEnv` function. .

# ------------------------------------------------------------------------------------
#                                ENVIRONMENT VARIABLES
# ------------------------------------------------------------------------------------

# Base URL of the backend API (no trailing slash).
# 
# In dev:   Set as blank/unset (since Vite already proxies `/api` and `/images` 
#           to the standalone server on the 5000 port (see vite.config.ts))
# 
# In prod:  Set as the URL of the server project (UI and server are separate projects)
VITE_BACKEND_URL=https://api.myshop.com
